.four-choice-quiz {
	border: 1px solid currentColor;
	overflow: hidden;

}

.four-choice-quiz .four-choice-quiz__description {
	margin: 16px;
}

.four-choice-quiz-questions {
	display: flex;
	transform: translateX(0%);
	transition: transform 0.3s ease-out 0s;
}

	.four-choice-quiz-questions__item {
		min-width: 100%;
		padding: 16px;
		box-sizing: border-box;
	}

.four-choice-quiz-question {

}

	.four-choice-quiz-question__options {
		padding-left: 0;
	}

	.four-choice-quiz-question__option {
		list-style-position: inside;
		cursor: pointer;
		border: 2px solid currentColor;
		padding: 8px;
		margin: 4px 0;
	}

		.four-choice-quiz-question__option--correct {
			background-color: #B9E5D1;
			color: #54A07E;
		}


		.four-choice-quiz-question__option--incorrect {
			background-color: #D6A1AB;
			color: #A85464;
		}


	.four-choice-quiz-question__result {
		box-sizing: content-box;
		border: 4px solid currentColor;
		padding: 16px;
		margin: 16px 0;
		text-align: center;
		font-weight: bold;
		font-size: 40px;
		line-height: 60px;
		height: 60px;

	}


		.four-choice-quiz-question__result--empty {
			background-color: #eee;
			color: #aaa;
		}

		.four-choice-quiz-question__result--correct {
			background-color: #B9E5D1;
			color: #54A07E;
		}

		.four-choice-quiz-question__result--incorrect {
			background-color: #D6A1AB;
			color: #A85464;
		}